*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 10px;
    background: rgb(0, 0, 0);
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
svg{
    width: 30px;
    height: 30px;
}
.header{
    height: 70px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.utils{
    display: flex;
}
.change{
    display: flex;
    align-items: center;
    height: 60px;
    border: 2px solid #232323;
    border-radius: 75px;
    padding: 8px 5px;
}
.menus{
    display: flex;
    align-items: center;
    
}
.icons{
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 7px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.items{
    border: 2px solid #232323;
}
.degree{
    margin: 0;
    font-size: 20px;
}
.degree:hover{
    background: rgba(143, 141, 141, 0.4)
}
.svg-icon-menus{
    width: 50%;
    height: 50%;
}
.celcius{
    background: rgba(128, 128, 128, 0.3)
}

/* Editing left panel */
.main{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    
}
#main-weather-logo{
    padding: 10px;
    width:200px;
}
.left-panel{
    border: 2px solid #232323;
    border-radius: 40px;
    width: 720px;
    padding: 15px;
}
.left-main{
    display: flex;
    height: 230px;
}
.main-second{
    width: 350px;
    margin-top: 35px;
}
.main-third{
    width:190px ;
    display: flex;
    justify-content:right;
}
.temp{
    font-size: 40px;
    font-weight:600;
    margin-bottom: 10px;
}
.weather{
    font-size: 20px;
    font-weight: 400;
}
.location{
    display: flex;
    font-size: 20px;
    font-weight: 200;
}

.left-highlight{
    background: #181818;
    border-radius: 30px;
    margin-top: 10px;
    height: 520px;
}
.content{
    margin-left: 20px;
    margin-bottom: 25px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 30px;
}
.Highlight-box{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    gap: 15px;
}
.box{
    width: 205px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
    background: #232323;
    border-radius: 20px;
}
.box:hover{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.25) 0px -12px 30px, rgba(255, 255, 255, 0.25) 0px 4px 6px, rgba(255, 255, 255, 0.25) 0px 12px 13px, rgba(255, 255, 255, 0.25) 0px -3px 5px;
}
.SunImgCard{
    width: 120px;
    height: 100px;
}
.SunCard{
    font-size:medium;
    font-weight: 500;
}
.TimeCard{
    font-size: large;
    font-weight: 300;
}
.status{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
}
.quantity{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
}
.extra-quantity{
    display: flex;
    font-weight: 400;
    padding-left: 30px;
    
}
.quantity-box{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 7px;
}
.unit{
    font-size:  small;
}
/* Editing right panel */
.right-panel{
    display: flex;
    flex-direction: column;
    width: 720px;
    
    
}
.forecasts{
    border: 2px solid #232323;
    border-radius: 40px;
    padding: 15px;
}
.right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.head-text{
    font-size: 25px;
    font-weight: 400;
}
.forecast-panel{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
.forecast-cards{
    width: 120px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid #232323;
    border-radius: 25px;
    row-gap: 15px;
    margin-bottom: 10px;
}
.first-card{
    background: #181818;
}
.head-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.forecast-weather > img:first-child{
    width: 75px;
    height: 85px;
}
.others{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.rainfall-tab{
    width: 280px;
    /* height: 460px; */
    border: 2px solid #232323;
    background: #181818;
    border-radius: 30px;
}
.rainfall-title{
    padding: 20px;
    font-weight: bolder;
    font-size: x-large;
}
.rainfall-chart{
    padding-top: 10px;
    padding-left: 30px;
    position: relative;
    height: 220px;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 2em;
    position: absolute;
}
.sun-circle{
    background-color: orange;
    width: 150px;
    height: 150px;
    z-index: 1;
    background: #FF701F;
}
.rain-circle{
    width: 120px;
    height: 120px;
    left: 130px;
    top: 70px;
    z-index: 2;
    background: #2D83E3;
}
.percentage {
    position: relative;
    font-weight: 400;
    font-size: 1em;
}

.rainfall-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin-bottom: 15px;
}
.rain-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    background: #232323;
    
}
.footer-box{
    width: 15px;
    height: 15px;
    border-radius: 5px;
    
}
.sun-box{
    background: #FF701F;
}
.rain-box{
    background: #2D83E3;
}
.box-text{
    font-weight: 480;
}

/* Editing extra tab */
.extra-tab{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 420px;
}
.extra-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.extra-title{
    font-size: 1.8em;
    font-weight: 500;
}
.more{
    font-size: smaller;
    font-weight: bold;
    text-decoration: underline;
}
.other-card-panel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.other-card{
    width:380px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
}
.other-card:hover{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.card1{
    background-image: url(images/mountain.jpg);
    background-size: cover;
    /* filter: brightness(50%); */
}
.card2{
    background-image: url(images/cloud-view.jpg);
    background-size: cover;
    /* filter: brightness(50%); */
}
.card3{
    background-image: url(images/city.jpg);
    background-size: cover;
    /* filter: brightness(50%); */
}

.country-place{
    font-size: 1.5em;
    font-weight: 500;
}
.country-temp{
    font-size: 1.5em;
    font-weight: 400;
}
footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}